:root {
    /* LIGHT THEME COLORS*/
    --primary-light-background: #F4F4F4;
    --primary-light-text: #000;
    --primary-light-acsent: #73294C;
    --secondary-light-acsent: #77C7D9;

    /* DARK THEME COLORS*/
    --primary-dark-background: #1D1919;
    --primary-dark-text: #fff;
    --primary-dark-acsent: #1BF2A3;
    --secondary-dark-acsent: #6865BF;

    /* CURRENT THEME */
    --primary-background: var(--primary-light-background);
    --primary-text: var(--primary-light-text);
    --primary-acsent: var(--primary-light-acsent);
    --secondary-acsent: var(--secondary-light-acsent);

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    position: relative;
    width: 100%;
}

.nav {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
    margin: 1rem 0;
}

.nav .container {
    display: flex;
    gap: 1vh;
    width: fit-content;
    border: 3px solid black;
    border-radius: 24px;
}

.nav-list {
    display: flex;
    gap: 1.5rem;
    list-style: none;
    padding: 0.1rem 1rem;
}

.nav-list li {
    display: flex;
    justify-content: center;
    align-content: center;
    height: 40px;
    aspect-ratio: 1/1;
    border-radius: 50%;
    transition-duration: 0.3s;
    transition-timing-function: linear;
}

.nav-list li:hover {
    background: var(--secondary-acsent);
}

.nav-list li .link {
    display: flex;
    justify-content: center;
    align-items: center;
}


.link .img {
    height: 25px;
    width: 25px;
}

#theme-switch-btn {
    margin-right: 0.5rem;
    padding: 0 0.5rem;
    background: none;
    border: none;
}

.link,
.img,
#theme-switch-btn {
    cursor: pointer;
}

#home {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#home li {
    list-style: none;
}

#home a {
    text-decoration: none;
    transition-duration: 0.3s;
}

#home a:hover {
    text-decoration: underline;
}

#home .info {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 60%;
    width: 40%;
}

#home .container {
    margin: 0 auto;
}

#home .info .header {
    font-size: 5rem;
}

#home .info .text {
    width: 70%;
    font-size: 1rem;
    line-height: 150%;
}

#home .info .link {
    width: 70%;
    margin: 16px 0;
    padding: 0.7rem 0;
    background: var(--primary-acsent);
    color: var(--primary-background);
    border-radius: 3rem;
    text-align: center;
    font-size: 1.2rem;
}

#home .side-container {
    height: 500px;
    position: relative;
}

#home .photo {
    height: 500px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    aspect-ratio: 3/4;
    background: var(--primary-acsent);
}

#home .side-container .info {
    height: 7rem;
    width: 350px;
    position: absolute;
    bottom: -2vh;
    left: 4vh;
    z-index: 2;
    background: var(--secondary-acsent);
}