:root {
    /* LIGHT THEME COLORS*/
    --primary-light-background: #F4F4F4;
    --primary-light-text: #000;
    --primary-light-acsent: #73294C;
    --secondary-light-acsent: #77C7D9;

    /* DARK THEME COLORS*/
    --primary-dark-background: #1D1919;
    --primary-dark-text: #fff;
    --primary-dark-acsent: #1BF2A3;
    --secondary-dark-acsent: #6865BF;

    /* CURRENT THEME */
    --primary-background: var(--primary-light-background);
    --primary-text: var(--primary-light-text);
    --primary-acsent: var(--primary-light-acsent);
    --secondary-acsent: var(--secondary-light-acsent);

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    position: relative;
    width: 100%;
}

.nav {
    width: 100%;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.7rem 2rem;
}

.nav h1 {
    font-size: 3rem;
    position: relative;
    transform: translateX(5rem);
}

.nav h1::before {
    --s: 2.5rem; /* adjust to control the size */

    width: var(--s);
    aspect-ratio: 1;
    background-color: var(--secondary-acsent);
    --g:/calc(var(--s)*0.201) calc(var(--s)*0.201) radial-gradient(50% 50%,#000 99%,#0000 101%) no-repeat;
    mask: calc(50% + var(--s)*0.369) calc(50% + var(--s)*0) var(--g),calc(50% + var(--s)*0.261) calc(50% + var(--s)*0.261) var(--g),calc(50% + var(--s)*0) calc(50% + var(--s)*0.369) var(--g),calc(50% + var(--s)*-0.261) calc(50% + var(--s)*0.261) var(--g),calc(50% + var(--s)*-0.369) calc(50% + var(--s)*0) var(--g),calc(50% + var(--s)*-0.261) calc(50% + var(--s)*-0.261) var(--g),calc(50% + var(--s)*0) calc(50% + var(--s)*-0.369) var(--g),calc(50% + var(--s)*0.261) calc(50% + var(--s)*-0.261) var(--g),radial-gradient(calc(var(--s)*0.418),#000 99%,#0000 101%) subtract,calc(50% + var(--s)*0.447) calc(50% + var(--s)*0.185) var(--g),calc(50% + var(--s)*0.185) calc(50% + var(--s)*0.447) var(--g),calc(50% + var(--s)*-0.185) calc(50% + var(--s)*0.447) var(--g),calc(50% + var(--s)*-0.447) calc(50% + var(--s)*0.185) var(--g),calc(50% + var(--s)*-0.447) calc(50% + var(--s)*-0.185) var(--g),calc(50% + var(--s)*-0.185) calc(50% + var(--s)*-0.447) var(--g),calc(50% + var(--s)*0.185) calc(50% + var(--s)*-0.447) var(--g),calc(50% + var(--s)*0.447) calc(50% + var(--s)*-0.185) var(--g);

    content: "";
    position: absolute;
    top: 50%;
    left: -5rem;
    transform: translateY(-50%);
}

.nav h1:hover::before {
    animation: rotate 10s infinite;
    top: 15%;
    left: -5rem;
    transform: translateY(-50%);
}

.nav .container {
    display: flex;
    gap: 1vh;
    width: fit-content;
}

.nav-list {
    display: flex;
    gap: 1.5rem;
    list-style: none;
    padding: 0.1rem 1rem;
}

.nav-list li {
    display: flex;
    justify-content: center;
    align-content: center;
    height: 40px;
    aspect-ratio: 1/1;
    border-radius: 50%;
    transition-duration: 0.3s;
    transition-timing-function: linear;
}

.nav-list li:hover {
    background: var(--secondary-acsent);
}

.nav-list li .link {
    display: flex;
    justify-content: center;
    align-items: center;
}


.link .img {
    height: 25px;
    width: 25px;
}

#theme-switch-btn {
    margin-right: 0.5rem;
    padding: 0 0.5rem;
    background: none;
    border: none;
}

.link,
.img,
#theme-switch-btn {
    cursor: pointer;
}

.section {
    min-height: 100vh;
    width: 100%;
}

.half-section {
    min-height: 50vh;
}

#home {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#home li {
    list-style: none;
}

#home a {
    text-decoration: none;
    transition-duration: 0.3s;
}

#home a:hover {
    text-decoration: underline;
}

#home > .info {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 60%;
    width: 40%;
}

#home .container {
    margin: 0 auto;
}

#home .info .header {
    font-size: 5rem;
}

#home .info .text {
    width: 70%;
    font-size: 1rem;
    line-height: 150%;
}

#home .info .link {
    width: 70%;
    margin: 16px 0;
    padding: 0.7rem 0;
    background: var(--primary-acsent);
    color: var(--primary-background);
    border-radius: 3rem;
    text-align: center;
    font-size: 1.2rem;
}

#home .side-container {
    height: fit-content;
    position: relative;
}

#home .photo {
    width: 400px;
    aspect-ratio: 3/4;
    position: relative;
    top: 0;
    left: 0;
    z-index: 1;
    aspect-ratio: 3/4;
    background: var(--primary-acsent);
}

#home .photo::before {
    content: "19th November 2024";
    position: absolute;
    top: 25%;
    left: -15%;
    z-index: 1;
    background: var(--secondary-acsent);
    padding: 0.5rem;
    border-radius: 24px;
    opacity: 0;
    transition-duration: 0.3s;
}

#home .photo:hover::before {
    opacity: 100%;
}

#home > .side-container .info {
    width: 400px;
    height: 300px;
    position: absolute;
    bottom: -50%;
    left: 0;
    padding: 1rem;
    z-index: 2;
    background: var(--primary-text);
    color: var(--primary-background);
    display: flex;
    flex-direction: column;
    align-items: center;
}

#home > .side-container .info h2 {
    font-size: 4rem;
    margin: 0.7rem 0;
}

#home .side-container .info li {
    display: flex;
    align-items: start;
    width: 10rem;
    font-size: 1rem;
    font-weight: bold;
    letter-spacing: 2px;
    line-height: 200%;
    text-align: left;
}

#cv-button {
    position: absolute;
    bottom: 30%;
    right: 18%;
    z-index: 0;
    padding: 0.7rem 1.5rem;
    width: fit-content;
    height: fit-content;
    background: var(--secondary-acsent);
    border: none;
    border-radius: 24px;
    font-size: 1.2rem;
    transition-duration: 0.3s;
}

#cv-button:hover {
    right: 13%;
    z-index: 2;
}

#about {
    background: var(--primary-acsent);
}

#projects {
    background: var(--primary-background);
}

#contact {
    background: var(--primary-text);
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(90deg);
    }
    50% {
        transform: rotate(180deg);
    }
    75% {
        transform: rotate(270deg);
    }
    100% {
        transform: rotate(360deg);
    }
}